html {
    background: black;

    align-items: center;
    display: flex;
}

body {
    color: grey;

    font-family: "DOS";

    margin: 2em;
    min-height: 15ch;
}

a {
    text-decoration: none;
}

p #prompt {
    color: limegreen;
}

p #cursor {
    background-color: whitesmoke;
    animation: blink 1s infinite;
}

p #rootMsg {
    color: red;
}

p #donation {
    color: chartreuse;
}

p #url {
    color:royalblue;
}

@keyframes blink {
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
}

@font-face {
    font-family: "DOS";
    src: url("fonts/Fixedsys500c.woff");
}